{% if host_vlan_interfaces is defined and host_vlan_interfaces is not none %}
### VLAN Interfaces Summary

| Interface | Description | VRF | IP Address | IP Address Virtual | IP Router Virtual Address (vARP) | FHRP Mode | FHRP Group | Priority | Preemption | ACL/Direction |
| --------- | ----------- | --- | ---------- | ------------------ | -------------------------------- | --------- | -----------| -------- | ---------- | ------------- |
{%     for vlan_interface in host_vlan_interfaces  %}
| {{ vlan_interface }} | {{ host_vlan_interfaces[vlan_interface].description | default('-') }} |
{%-        if host_vlan_interfaces[vlan_interface].vrf is defined %} {{ host_vlan_interfaces[vlan_interface].vrf }} {% else %} default {% endif -%} |
{%-        if host_vlan_interfaces[vlan_interface].ip_address is defined %} {{ host_vlan_interfaces[vlan_interface].ip_address }} {% else %} - {% endif -%} |
{%-        if host_vlan_interfaces[vlan_interface].fhrp.ip_address is defined %} {{ host_vlan_interfaces[vlan_interface].fhrp.ip_address }} {% else %} - {% endif -%} |
{%-        if host_vlan_interfaces[vlan_interface].ip_virtual_router_address is defined %} {{ host_vlan_interfaces[vlan_interface].ip_virtual_router_address  }} {% else %} - {% endif -%} |
{%-        if host_vlan_interfaces[vlan_interface].fhrp.type is defined and host_vlan_interfaces[vlan_interface].fhrp.type is not none %}  {{ host_vlan_interfaces[vlan_interface].fhrp.type }} {% else %} - {% endif -%} |
{%-        if host_vlan_interfaces[vlan_interface].fhrp.group is defined and host_vlan_interfaces[vlan_interface].fhrp.group is not none %}  {{ host_vlan_interfaces[vlan_interface].fhrp.group }} {% else %} - {% endif -%} |
{%-        if host_vlan_interfaces[vlan_interface].fhrp.priority is defined and host_vlan_interfaces[vlan_interface].fhrp.priority is not none %}  {{ host_vlan_interfaces[vlan_interface].fhrp.priority }} {% else %} default {% endif -%} |
{%-        if host_vlan_interfaces[vlan_interface].fhrp.preempt is defined and host_vlan_interfaces[vlan_interface].fhrp.preempt == true %} ENABLED {% elif host_vlan_interfaces[vlan_interface].fhrp.preempt is defined and host_vlan_interfaces[vlan_interface].fhrp.preempt == false %} DISABLED {% else %} - {% endif -%} |
{%-        if host_vlan_interfaces[vlan_interface].access_group_in is defined and host_vlan_interfaces[vlan_interface].access_group_in is not none %} {{ host_vlan_interfaces[vlan_interface].access_group_in }} / IN {% elif host_vlan_interfaces[vlan_interface].access_group_out is defined and host_vlan_interfaces[vlan_interface].access_group_out is not none %} {{ host_vlan_interfaces[vlan_interface].access_group_out }} / OUT {% else %} none defined {% endif -%} |
{%     endfor %}

{%     set vlan_interface_isis = namespace() %}
{%     set vlan_interface_isis.configured = false %}
{%     for vlan_interface in host_vlan_interfaces | arista.avd.natural_sort %}
{%          if host_vlan_interfaces[vlan_interface].isis_enable is defined %}
{%              set vlan_interface_isis.configured = true %}
{%          endif %}
{%     endfor %}
{%     if vlan_interface_isis.configured == true %}
#### ISIS

| Interface | ISIS instance | ISIS metric | Interface mode |
| -------- | -------- | -------- | -------- |
{%         for vlan_interface in host_vlan_interfaces | arista.avd.natural_sort %}
{%             if host_vlan_interfaces[vlan_interface].isis_enable is defined and host_vlan_interfaces[vlan_interface].isis_enable is not none %}
| {{ vlan_interface }} | {{ host_vlan_interfaces[vlan_interface].isis_enable }} |  {{ host_vlan_interfaces[vlan_interface].isis_metric | default('-') }} | {% if host_vlan_interfaces[vlan_interface].isis_network_point_to_point is defined and host_vlan_interfaces[vlan_interface].isis_network_point_to_point is not none %} point-to-point {% elif host_vlan_interfaces[vlan_interface].isis_passive is defined and host_vlan_interfaces[vlan_interface].isis_passive is not none %} passive {% else %} - {% endif %}|
{%             endif %}
{%          endfor %}
{%     endif %}

{% else %}
No VLAN interfaces defined
{% endif %}
