{# all_access_edge_vlans Summary #}
{% if all_access_edge_vlans is defined and all_access_edge_vlans is not none and host_role != 'core' %}
## VLAN Summary

| VLAN ID | Name | Trunk Groups |
| ------- | ---- | ------------ |
{%     for vlan in all_access_edge_vlans %}
| {{ vlan }} | {{ all_access_edge_vlans[vlan].name }} |
{%-        if all_access_edge_vlans[vlan].trunk_groups is defined %}{% for trunk_group in all_access_edge_vlans[vlan].trunk_groups %} {{ trunk_group }} {% endfor %}{% else %} none {% endif %} |
{%     endfor %}
{% else %}
No VLANs defined
{% endif %}
