{% if host_ethernet_interfaces is defined and host_ethernet_interfaces is not none %}
### Ethernet Interfaces Summary

| Interface | Description | MTU | Type | Mode | Access VLAN | Allowed VLANs (Trunk) | Trunk Group | VRF | IP Address | Channel-Group ID | Channel-Group Type | Shutdown |
| --------- | ----------- | --- | ---- | ---- | ----------- | --------------------- | ----------- | --- | ---------- | ---------------- | ------------------ | -------- |
{%   for ethernet_interface in host_ethernet_interfaces %}
| {{ ethernet_interface }} | {%-      if host_ethernet_interfaces[ethernet_interface].description is defined %} {{ host_ethernet_interfaces[ethernet_interface].description }} {% endif -%} |
{%-    if host_ethernet_interfaces[ethernet_interface].channel_group is defined %}{% set port_channel_interface = 'Port-Channel' + host_ethernet_interfaces[ethernet_interface].channel_group.id | string %}
{%-      if host_port_channel_interfaces[port_channel_interface].mtu is defined and host_port_channel_interfaces[port_channel_interface].mtu  != 1500 %} *{{ host_port_channel_interfaces[port_channel_interface].mtu }} {% else %} *1500 {% endif -%} |
{%-      if host_port_channel_interfaces[port_channel_interface].type is defined and host_port_channel_interfaces[port_channel_interface].type == "routed" %} *{{ host_port_channel_interfaces[port_channel_interface].type }} {% else %} *switched {% endif -%} |
{%-      if host_port_channel_interfaces[port_channel_interface].mode is defined %} *{{ host_port_channel_interfaces[port_channel_interface].mode }} {% else %} *access {% endif -%} |
{%-      if host_port_channel_interfaces[port_channel_interface].vlans is defined %} *{{ host_port_channel_interfaces[port_channel_interface].vlans }} {% else %} - {% endif -%} |
{%-      if host_port_channel_interfaces[port_channel_interface].trunk_groups is defined %} {% for  trunk_group in host_port_channel_interfaces[port_channel_interface].trunk_groups | arista.avd.natural_sort %}*{{ trunk_group }}{% if not loop.last %}<br>{% endif %} {% endfor %}{% else %} - {% endif -%} |
{%-      if host_port_channel_interfaces[port_channel_interface].vrf is defined %} *{{ host_port_channel_interfaces[port_channel_interface].vrf }} {% else %} - {% endif -%} |
{%-      if host_port_channel_interfaces[port_channel_interface].ip_address is defined %} *{{ host_port_channel_interfaces[port_channel_interface].ip_address }} {% else %} - {% endif -%} | {{ host_ethernet_interfaces[ethernet_interface].channel_group.id }} | {{ host_ethernet_interfaces[ethernet_interface].channel_group.mode }} |
{%     else %}
{%-      if host_ethernet_interfaces[ethernet_interface].mtu is defined and host_ethernet_interfaces[ethernet_interface].mtu != 1500 %} {{ host_ethernet_interfaces[ethernet_interface].mtu }} {% else %} 1500 {% endif -%} |
{%-      if host_ethernet_interfaces[ethernet_interface].type is defined and host_ethernet_interfaces[ethernet_interface].type == "l3" %} routed {% else %} switched {% endif -%} |
{%-      if host_ethernet_interfaces[ethernet_interface].type is defined and host_ethernet_interfaces[ethernet_interface].type != "trunk" and host_ethernet_interfaces[ethernet_interface].type != "l3" %} access {% elif host_ethernet_interfaces[ethernet_interface].type != "trunk" %} routed {% else %} trunk {% endif -%} |
{%-      if host_ethernet_interfaces[ethernet_interface].type == 'edge' %}
{%-          if host_ethernet_interfaces[ethernet_interface].access_vlan is defined and host_ethernet_interfaces[ethernet_interface].access_vlan is not none %} {{ host_ethernet_interfaces[ethernet_interface].access_vlan }} {% elif access_edge_user_vlan is defined and access_edge_user_vlan is not none %} {{ access_edge_user_vlan }} {% else %} - {% endif -%} | - |
{%-      elif host_ethernet_interfaces[ethernet_interface].type == 'unused' %}
{%-          if all_default_vlan is defined and all_default_vlan is not none %} {{ all_default_vlan }} {% elif host_ethernet_interfaces[ethernet_interface].access_vlan is defined and host_ethernet_interfaces[ethernet_interface].access_vlan is not none %} {{ host_ethernet_interfaces[ethernet_interface].access_vlan }} {% elif access_edge_user_vlan is defined and access_edge_user_vlan is not none %} {{ access_edge_user_vlan }} {% else %} - {% endif -%}  | - |
{%-      elif host_ethernet_interfaces[ethernet_interface].type == 'management' %}
{%-          if all_management_vlan is defined and all_management_vlan is not none %} {{ all_management_vlan }} {% elif host_ethernet_interfaces[ethernet_interface].access_vlan is defined and host_ethernet_interfaces[ethernet_interface].access_vlan is not none %} {{ host_ethernet_interfaces[ethernet_interface].access_vlan }} {% elif access_edge_user_vlan is defined and access_edge_user_vlan is not none %} {{ access_edge_user_vlan }} {% else %} - {% endif -%} | - |
{%-      elif host_ethernet_interfaces[ethernet_interface].type == 'trunk' %}
{%-          if host_ethernet_interfaces[ethernet_interface].allowed_vlans is defined and host_ethernet_interfaces[ethernet_interface].allowed_vlans is not none %}  - | {{ host_ethernet_interfaces[ethernet_interface].allowed_vlans }} {% else %}  - | all {% endif -%} |
{%-      elif host_ethernet_interfaces[ethernet_interface].type == 'l3' %} - | - |
{%-      endif -%}
{%-      if host_ethernet_interfaces[ethernet_interface].trunk_groups is defined %} {% for trunk_group in host_ethernet_interfaces[ethernet_interface].trunk_groups  %}{{ trunk_group }}{% if not loop.last %}<br>{% endif %} {% endfor %} {% else %} - {% endif -%} |
{%-      if host_ethernet_interfaces[ethernet_interface].vrf is defined %} {{ host_ethernet_interfaces[ethernet_interface].vrf }} {% else %} - {% endif -%} |
{%-      if host_ethernet_interfaces[ethernet_interface].ip_address is defined and host_ethernet_interfaces[ethernet_interface].subnet_mask is defined and host_ethernet_interfaces[ethernet_interface].subnet_mask is not none %} {{ host_ethernet_interfaces[ethernet_interface].ip_address }}/{{ host_ethernet_interfaces[ethernet_interface].subnet_mask }} {% else %} - {% endif -%} |
{%-      if host_ethernet_interfaces[ethernet_interface].port_channel is defined and host_ethernet_interfaces[ethernet_interface].port_channel is not none %} {{ host_ethernet_interfaces[ethernet_interface].port_channel }} {% else %} - {% endif -%} |
{%-      if host_ethernet_interfaces[ethernet_interface].port_channel_mode is defined and host_ethernet_interfaces[ethernet_interface].port_channel_mode is not none %} {{ host_ethernet_interfaces[ethernet_interface].port_channel_mode }} {% else %} - {% endif -%} |
{%-      if host_ethernet_interfaces[ethernet_interface].shutdown is defined and host_ethernet_interfaces[ethernet_interface].shutdown == true %} true {% else %} false {% endif %}|
{%     endif %}
{%   endfor %}

*Inherited from Port-Channel Interface

{%     set ethernet_interface_isis = namespace() %}
{%     set ethernet_interface_isis.configured = false %}
{%     for ethernet_interface in host_ethernet_interfaces | arista.avd.natural_sort %}
{%          if host_ethernet_interfaces[ethernet_interface].isis_enable is defined %}
{%              set ethernet_interface_isis.configured = true %}
{%          endif %}
{%     endfor %}
{%     if ethernet_interface_isis.configured == true %}
#### ISIS

| Interface | ISIS instance | ISIS metric | Interface mode |
| -------- | -------- | -------- | -------- |
{%         for ethernet_interface in host_ethernet_interfaces %}
{%             if host_ethernet_interfaces[ethernet_interface].isis_enable is defined and host_ethernet_interfaces[ethernet_interface].isis_enable is not none %}
| {{ ethernet_interface }} | {{ host_ethernet_interfaces[ethernet_interface].isis_enable }} |  {{ host_ethernet_interfaces[ethernet_interface].isis_metric | default('-') }} | {% if host_ethernet_interfaces[ethernet_interface].isis_network_point_to_point is defined and host_ethernet_interfaces[ethernet_interface].isis_network_point_to_point is not none %} point-to-point {% elif host_ethernet_interfaces[ethernet_interface].isis_passive is defined and host_ethernet_interfaces[ethernet_interface].isis_passive is not none %} passive {% else %} - {% endif %}|
{%             endif %}
{%          endfor %}
{%     endif %}

### Ethernet Interfaces Device Configuration

```ios
{% include 'ios/configuration/ethernet-interfaces.j2' %}
```
{% else %}
No ethernet interface defined
{% endif %}
